
#boxForm{
    border: solid red 1px;
    margin: 20px 0px;
    padding: 25px;
    width: 70%;
    border: 1px solid rgb(255, 230, 230);
    box-shadow: 2px 1px 15px rgb(251, 255, 218);
    
}
#viagem {
    border: solid red 1px;
    margin: 20px 0px;
    padding: 25px;
    width: 70%;
    border: 1px solid rgb(255, 230, 230);
    box-shadow: 2px 1px 15px rgb(251, 255, 218);
}

#titulo{
    font-size: 60px;
    font-family: montserrat,arial,verdana;
}
.textinicial {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: montserrat,arial,verdana;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.footer {
    
	background: #131E61;
    color: white; 
    padding: 10px;
    bottom:0;
    left:0;
    text-align: center;  
}
.promo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 1 1 150px;
    margin: 5px;
    max-width: 100%;
   overflow:auto;
   margin-bottom: 10px;
}

#Viagemh1 {
    font-family: montserrat,arial,verdana;
    color: black;
    text-align: center;
    font-size: 50px;
}

#ViagemP {
    font-family: montserrat,arial,verdana;
    color: black;
    
    font-size: 30px;
}


.textinicial {
   
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: montserrat,arial,verdana;
    text-align: left;

}

.text {
   
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    font-family: montserrat,arial,verdana;
    text-align: center;

}

#Viagemh1 {
    font-family: montserrat,arial,verdana;
    color: black;
    text-align: center;
    font-size: 50px;
}

#ViagemP {
    font-family: montserrat,arial,verdana;
    color: black;
    text-align: center;
    font-size: 30px;
}

#example td {
    
        word-wrap:break-word;
     
}
/*teste carrosel*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
